<% content_for(:title, t('.title')) %>
<div class=''>
    <h1>タイトル</h1>
</div>
<div class=''>
  <h1>説明</h1>
</div>
<div class=''>
  <div class=''>
    <h2>使ってみる</h2>
  </div>
  <div class=''>
    <div class=''>
      <%= t('recipes.generate') %>
    </div>
    <div class=''>
      <%= link_to t('recipes.index.title'), recipes_path %>
    </div>
  </div>
</div>