<div class=''>
    <h1>タイトル</h1>
</div>
<div class=''>
  <h1>説明</h1>
</div>
<div class=''>
  <div class=''>
    <h2>使ってみる</h2>
  </div>
  <div class=''>
    <div class=''>
      <%= t('recipes.generate') %>
    </div>
    <div class=''>
      <%= t('posts.index') %>
    </div>
  </div>
</div>