<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
  <div class="col-lg-10 offset-lg-1">
    <%= render 'search_form', q: @q, url: recipes_path %>
    </div>
    <div class="row">
      <div class="col-12" style="background-color: #ffdcae;">
          <% if @recipes.present? %>
          <%= render @recipes %>
          <% else %>
          <p>ありません</p>
          <% end %>
      </div>
    </div>
  </div>
</div>