<% content_for(:title, t('.title')) %>
<div class="d-flex flex-column min-vh-100">
  <div class="container pt-3">
    <div class="row">
      <h1 class="text-center mb-4"><%= t('.title') %></h1>
        <div class="col-lg-10 offset-lg-1">
          <%= render 'search_form', q: @q, url: recipes_path %>
        </div>
    </div>
      <div class="row">
        <div class="col-12" >
          <div class="row">
            <% if @recipes.present? %>
              <%= render @recipes %>
            <% else %>
              <p>ありません</p>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <%= paginate @recipes,theme: 'bootstrap-5'%>
</div>