<div class="d-flex justify-content-end align-items-center bg-light py-3 px-4 shadow-sm">
  <div class="me-3">
    <%= link_to t("header.login"), login_path, class: "btn btn-outline-primary" %>
  </div>
  <div class="me-3">
    <%= link_to t("header.register"), new_user_path, class: "btn btn-outline-success" %>
  </div>
  <div>
    <%= link_to t("static_pages.top.title"), root_path, class: "btn btn-outline-success" %>
  </div>
</div>
