<div class="">
  <div class="">
    <%= t("footer.contact_us") %>
  </div>
  <div class="">
    <%= t("footer.terms_of_service") %>
  </div>
  <div class="">
    <%= t("footer.privacy_policy") %>
  </div>
</div>