<div class="d-flex justify-content-between align-items-center">
  <% if logged_in? %>
    <%= link_to user_top_path do %>
      <%= image_tag 'logo.png', alt: t("header.toppage"), width: 100 %>
    <% end %>
    
    <div class="d-flex align-items-center">
      <div class="btn" data-bs-toggle="offcanvas" href="#offcanvasID" role="button" aria-controls="offcanvasID">
        <i class="bi  bi-list fs-4" style="color: #FF5733;">
          <%= render 'shared/sidebar'%>
        </i>
      </div>
    </div>
  <% else %>
    <%= link_to t("header.toppage"), root_path, class: '' %>
  <% end %>
</div>
