<div class="">
  <div class="">
    <% if logged_in? %>
      <%= link_to t("header.toppage"), user_top_path, class: '' %>
    <% else %>
      <%= link_to t("header.toppage"), root_path, class: '' %>
    <% end %>
  </div>
</div>
