<div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasID" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"><%= current_user.name %>さんのメニュー</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <%= link_to t("sidebar.profile"), profile_path, class: "btn btn-outline-success w-100 text-start" %>
    </div>
    <div class="mb-3">
      <%= link_to t("recipes.create_index.title"), create_index_recipes_path, class: "btn btn-outline-success w-100 text-start" %>
    </div>
    <div>
      <%= link_to t("sidebar.logout"), logout_path, class: "btn btn-outline-secondary w-100 text-start", data: { turbo_method: :delete } %>
    </div>
  </div>
</div>
