<div class="">
  <div class="">
    <%= t("sidebar.profile") %>
  </div>
  <div class="">
    <%= t("sidebar.recipes") %>
  </div>
  <div class="">
    <%= link_to t("sidebar.logout"), logout_path, data: { turbo_method: :delete }, class: "" %>
  </div>
</div>
