<div class="">
  <div class="">
    ユーザー情報
  </div>
  <div class="">
    生成レシピ一覧
  </div>
  <div class="">
    <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: "" %>
  </div>
</div>
