<div class=''>
  <div class=''>
    <h3>〇〇さん、いらっしゃいませ</h3>
  </div>
</div>
  <div class=''>
    <h1>サイト名</h1>
  </div>
<div class=''>
  <div class=''>
    <%= t('recipes.generate') %>
  </div>
  <div class=''>
    <%= t('posts.index') %>
  </div>
</div>

