<div class="d-flex flex-column min-vh-100">
  <div class="p-3 mb-3">
    <div class="container">
      <h3 class="text-center"><%= current_user.name %>さん、いらっしゃいませ</h3>
    </div>
  </div>

  <div class="bg-orange text-white p-4 mb-3 text-center">
    <%= image_tag 'logo.png', alt: t("header.toppage"), width: 400, class: 'mb-5' %>
  </div>

  <div class="bg-light-warning p-4 d-flex flex-column justify-content-center">
    <div class="container text-center">
      <%= link_to t('openai.change.ask_question.title'), openai_ask_question_path, class: "btn btn-warning text-dark mx-2 btn-custom-medium", style: "font-size: 1.25rem; padding: 0.75rem 1.5rem;" %>
      <%= link_to t('recipes.index.title'), recipes_path, class: "btn btn-warning text-dark mx-2 btn-custom-medium", style: "font-size: 1.25rem; padding: 0.75rem 1.5rem;" %>
    </div>
  </div>
</div>
